@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary-blue: #00eeff;
  --primary-blue: #2823c0;
  --white: #ffffff;
  --black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --border-color: var(--secondary-blue);

  --font-inter: var(--font-inter);
  --font-merriweather: var(--font-merriweather);
  --font-fira: var(--font-fira);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232323;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

/* Fonts */
.fira-font {
  font-family: var(--font-fira);
}

.inter-font {
  font-family: var(--font-inter);
}

.merriweather-font {
  font-family: var(--font-merriweather);
}

.section-title {
  @apply text-(--secondary-blue) text-2xl font-medium;
}
